$font-primary-color: #ccc;

$spread-ladder-border-color: #ccc;

$max-grid-width: 114rem;
$gutter-vertical: 0rem;
$gutter-hor-lg: 8rem;
$gutter-hor-med: 6rem;
$gutter-hor-sm: 3rem;
$gutter-hor-xs: 2rem;
$gutter-hor-xxs: 1rem;
$gutter-hor-none: 0rem;